#background-logo {
    height: 100px;
    width: 100%;
    background-color: rgb(86, 153, 241);
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-repeat: repeat;

}
#booleaner {
    height: 100px;
    width: 150px;
    background-image: url(../img/logo.svg);
    background-position: 0,25%;
    background-size: 100%;
    background-repeat: no-repeat;
   }

.address {
    height: 50px;
}

#blue {
    color: rgb(62, 128, 250);
}

.lorem{
    margin: 20px 0;
}

.yellow{
    background-color:  yellow;
}

